<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Review tweets</h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-8">
    <div class="panel panel-default" ng-repeat="tweet in tweets.results | filter:{approved: false}">
      <div class="panel-heading">
        <h5>Submitted by Andrew at 4:03pm</h5>
      </div>
      <div class="panel-body">
        <p>{{tweet.screen_name}}</p>
        <p>{{tweet.body}}</p>
        <p>{{tweet.approved}}</p>
      </div>
      <div class="panel-footer">
        <button ng-click="approveTweet(tweet)" type="button" class="btn btn-primary">Post</button>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        Recent activity
      </div>
      <div class="panel-body">
        <p>FOOO</p>
      </div>
    </div>
  </div>
</div>
