{% extends "base.html" %}

{% load staticfiles %}

{% block ng-app %}ng-app="tweetCheck"{% endblock %}

{% block ng-head %}
    <script src="{% static "bower_components/angular/angular.js" %}"></script>
    <script src="{% static "bower_components/angular-route/angular-route.js" %}"></script>
    <script src="{% static "bower_components/angular-resource/angular-resource.js" %}"></script>
    
    <script src="{% static "js/app.js" %}"></script>
    <script src="{% static "js/controllers.js" %}"></script>
    <script src="{% static "js/filters.js" %}"></script>
    <script src="{% static "js/services.js" %}"></script>
{% endblock %}

{% block content %}
  <div class="wrapper">
    <div ng-include="'static/views/partials/navbar.html'"></div>
    <div id="page-wrapper" ng-view></div>
  </div>
{% endblock %}
