<div class="row">
  <div class="col-md-10">

    <h2>Compose new tweet</h2>

    <form name="composeForm">
      Handle: <select ng-model="newTweet.handle" ng-options="handle.url as handle.screen_name for handle in handles.results" required></select>
      Body: <input type="text" name="body" ng-model="newTweet.body" required>
      <span class="error" ng-show="composeForm.body.$error.required">
        Required!</span>
      <button class="btn btn-primary" ng-click="create(newTweet)">SAVE</button>
    </form>

  </div>
</div>