<div class="row">
  <div class="col-md-10">

    <h2>Compose new tweet</h2>

    <form role="form" name="composeForm">
      <div class="form-group">
        <label for="InputHandle">Handle</label>
        <select class="form-control" id="InputHandle" ng-model="newTweet.handle" ng-options="handle.url as handle.name_with_organization for handle in handles.results" required></select>
      </div>
      <div class="form-group">
        <label for="InputBody">Body</label>
        <textarea class="form-control" rows="3" name="body" id="InputBody" ng-model="newTweet.body" ng-change="updateCharacterCounter(newTweet.body)" required></textarea>
        <p class="pull-right">{{ remainingCharacters }}</p>
      </div>
      <button class="btn btn-primary" ng-click="create(newTweet)">Send for approval</button>
    </form>

  </div>
</div>